*          {overflow-x: hidden;}
body, html {margin: 0;}

::-webkit-scrollbar {
width: 10px;
}

::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px darkgrey; 
background-color: grey;
}
 
::-webkit-scrollbar-thumb {
background: black; 
height: 600px;
}
    
::-webkit-scrollbar-thumb:hover {
background: white;}

.nav {
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 100vw;
    background-color: black;
    box-sizing: border-box;
    
}

.nav {
    position: fixed;
}
.nav-btn {
    display: inline-block;
    list-style: none;
    font-size: 16px;
    color: #FFFFFF;
    font-family: sans-serif;
    padding: 15px 0 0 0;
    
}
.nav-btn:hover {
    cursor: pointer;
    color: grey;
} 


.slideshow {
    background-image: url('./img/001.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
    width: 100vw;
    box-sizing: border-box;
    display: grid;
    align-items: center;
    justify-content: center;
    
}

.main-title {
    font-family: sans-serif;
    font-size: 42px;
    color: white;
    text-shadow: 5px 5px 5px black;
}
.main-title:hover {cursor: context-menu;}
.headline {
    padding: 10px 10px 0 10px;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
}

.headline-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-top: 20px;
    padding-bottom: 50px;
    justify-items: center;
}

.head-grid-copy {
    text-align: center;
    font-family: sans-serif;
}

.child>img {
    width: 300px;
}

.btn {
    display: flex;
    justify-content: center;
}

.secondery-btn {
    width: 150px;
    height: 30px;
    background-color: black;
    color: white;
    outline: none;
    border: none;
    border-radius: 24px;
}

.background-img {
    background-image: url('./img/0015.jpg');
    height: 1000px; 
    width: 100vw; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-items: center;
}

.footer{
    display: grid;
    background-color: black;
    color: white;
    padding: 10px 10px 30px 30px;
    width: stretch;
    height 300px;
    font-family: sans-serif;
    text-align: center;
}


.info-container {
    display: grid;
    height: 600px;
    width: 70vw; 
    color: white;
    padding: 30px 50px 30px 50px;
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
}

.footer>h4 {
    font-size: 21px;
}

.ham {display: none;}
/*<<<<<<<<<<<<<<<MEDIA QUERRIES>>>>>>>>>>>>>> */

@media (min-width: 400px) and (max-width: 700px) {

.slideshow {
    height: 630px;
    width: 100vw;
    transition: 1s;
    
    }
.nav-btn {
    display: none;
}

.main-title {
    float: center;
    transition: 1s;
    }
.info-container {
    width: 100vw;
    text-align: center;
}
.ham {
    display: inline;
    position: absolute;
    width: 26px;
    height: 26px;
    left: 450px;
    top: 10px;
    background-image: url('./img/menue.svg');
}

.ham:hover {
    cursor: pointer;
}
}
